body {
    background-color: white;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(230, 230, 230);
    margin: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 1px 15px gray;
}
nav div {
    width: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav div a {
    width: 100%;
    font-size: larger;
    color: black;
}

nav div input {
    width: 70%;
    outline: none;
}

@media all and (max-width:420px){
    nav div i input {
        display: none;
    }
    nav div a {
        font-size: small;
    }
    .buscar {
        width: 5%;
    }
}

.titulo {
    margin-top: 50px;
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.titulo span {
    width: 100%;
    text-align: center;
    color:black;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}

.redes {
    width: 800px;
    width: inherit;
    text-align: center;
    background-color: transparent;
    padding: 1%;
}

.redes div i {
    color: white;
    font-size: larger;
    font-weight: bold;
}

.redes div i:hover {
    text-decoration: underline;
}

.textoInicial {
    margin: 1%;
    font-weight: bold;
    font-size: larger   ;
}

.contenido {
    width: 100%;
    background-color: rgb(144, 194, 187);
    padding: 3%;
    padding-top: 1%;
}

.portada {
    width: 100%;
    max-width: 750px;
    background-color: rgb(243, 243, 243);
    font-family: 'Times New Roman', Times, serif;
    padding: 2%;
}

.encabezado {
    display: flex;
    align-items: center;
}

.uno {
    width: 20%;
    height: 90px;
    background-color: rgb(151, 151, 151);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
}

.uno span {
    transform: rotate(-30deg);
}

.tituloPortada {
    width: 60%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.miniParrafo {
    width: 20%;
    text-align: justify;
}

.daily {
    display: flex;
    align-items: center;
}

.daily div {
    width: 50%;
}

.precio {
    width: 50%;
    text-align: right;
    font-size: 20px;
    color: green;
}

.local {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.textos {
    display: flex;
}

.parrafo {
    width: 19%;
    text-align: justify;
    padding: 2%;
}

.imagen {
    width: 39%;
    padding: 2%;
}

.imagen img {
   width: 100%;
}

.contenedor2 {
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 30%;
    margin-left: 7%;
    background-color: bisque;
}

.noticiaDerecha {
    background-color: white;
}

aside img {
    width: 100%;
}

aside div p {
    font-size: 30px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 3%;
}

.noticia2 {
    margin-top: 5%;
}

@media all and (max-width:1125px){

}

.contenidoInferior {
    width: 100%;
    display: flex;
}