nav {
    background-color: rgba(68, 68, 68);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 1px 15px gray;
    top:0;
    left: 0;
}
@keyframes navBarra1 {
    0%{
        background-color: rgba(68, 68, 68);
    } 100%{
        background-color: rgba(68, 68, 68, 0.555);
    }
}
@keyframes navBarra2 {
    0%{
        background-color: rgba(68, 68, 68, 0.555);
    } 100%{
        background-color: rgba(68, 68, 68);
    }
}
nav div {
    width: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav div a {
    width: 100%;
    font-size: larger;
    color: white;
}

nav div input {
    width: 70%;
    outline: none;
}

@media all and (max-width:420px){
    nav div i input {
        display: none;
    }
    nav div a {
        font-size: small;
    }
    .buscar {
        width: 5%;
    }
}

.titulo {
    margin-top: 50px;
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.titulo span {
    width: 100%;
    text-align: center;
    color:black;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}

@media screen and (max-width:730px){
    .titulo span {
        font-size: 50px;
    }
}

.redes {
    width: 800px;
    width: inherit;
    text-align: center;
    background-color: transparent;
    padding: 1%;
}

.redes div i {
    color: white;
    font-size: larger;
    font-weight: bold;
}

.redes div i:hover {
    text-decoration: underline;
}

.textoInicial {
    margin: 1%;
    font-weight: bold;
    font-size: larger   ;
}

.contenido {
    width: 100%;
    background-color: rgb(148, 212, 228);
    padding: 1%;
    padding-top: 1%;
}

.portada {
    width: 70%;
    /* max-height: 815px; */
    background-color: rgb(243, 243, 243);
    font-family: 'Times New Roman', Times, serif;
    padding: 2%;
}

.encabezado {
    display: flex;
    align-items: center;
}

.uno {
    width: 20%;
    height: 90px;
    background-color: rgb(151, 151, 151);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
}

.uno span {
    transform: rotate(-30deg);
}

.tituloPortada {
    width: 60%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.miniParrafo {
    width: 20%;
    text-align: justify;
}

.daily {
    display: flex;
    align-items: center;
}

.daily div {
    width: 50%;
}

.precio {
    width: 50%;
    text-align: right;
    font-size: 20px;
    color: green;
}

.local {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:730px){
    .local {
        font-size: 30px;
    }
    .tituloPortada {
        font-size: 20px;
    }
    .portada p {
        font-size: 50%;
    }
}

.textos {
    display: flex;
}

.parrafo {
    width: 19%;
    text-align: justify;
    padding: 2%;
}

.parrafo p {
    word-wrap: break-word;
    font-size: 100%;
}

@media screen and (max-width:700px){
    .parrafo p {
        font-size: 70%;
    }
}

.imagen {
    width: 39%;
    padding: 2%;
}

.imagen img {
   width: 100%;
}

@media screen and (max-width:440px){
    .textos {
        flex-wrap: wrap;
    }
    .imagen {
        width: 100%;
        order: 1;
    }
    .parrafo {
        width: 30%;
        order: 2;
    }
}

.contenedor2 {
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 29%;
    margin-left: 1%;
}

.noticiaDerecha {
    background-color: white;
}

aside img {
    width: 100%;
}

aside div p {
    width: 100%;
    font-size: 30px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 3%;
}

.contenidoInferior {
    width: 100%;
    display: flex;
}

.contenidoInferior .noticiaInferior {
    width: 25%;
    margin: 2%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.contenidoInferior .noticiaInferior img {
    width: 100%;
    height: 200px;
}

.contenidoInferior .noticiaInferior p {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 3%;
}

@media screen and (max-width:963px){
    aside {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .noticiaDerecha {
        width: 97%;
        max-height: 300px;
        display: flex;
        margin: 1%;
    }
    .contenidoInferior{
        width: 100%;
        flex-wrap: wrap;
    }
    .contenidoInferior .noticiaInferior, .portada {
        width: 100%;
    }
    .contenidoInferior .noticiaInferior img, .noticiaDerecha img  {
        width: 45%;
        height: auto;
    }
    .contenidoInferior .noticiaInferior p, .noticiaDerecha p {
        width: 55%;
        font-size: 40px;
    }
    .contenidoInferior {
        padding: 0;
    }
    .portada {
        height: auto;
        margin-bottom: 5%;
    }
}

@media screen and (max-width:530px){
    .noticiaDerecha p, .contenidoInferior .noticiaInferior p {
        font-size: 100%;
    }
}

.tituloVideo {
    margin-top: 3%;
    font-weight: bold;
    font-family: sans-serif;
}

.video {
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 2%;
}

.video iframe {
    width: 100%;
    border: none;
}

.audio {
    display: flex;
    margin: 5%;
    background-color: rgb(231, 233, 90);
    left: 0;
    padding: 5%;
    border-radius: 10px;
    flex-wrap: wrap;
}

.podcastTitulo {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
}

.podcast {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.podcast audio {
    width: 100%;
    outline: none;  
}

.preciosSeccion {
    display: flex;
    width: 100%;
    margin-top: 5%;
    height: auto;
    flex-wrap: wrap;
}

.tablaPrecios {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    max-width: 1180px;
    text-align: center;
    box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.445);
    border-radius: 10px;
}

.tituloPrecios {
    border-bottom: 15px solid rgb(68, 201, 190);
}

td {
    padding: 2%;
    font-size: larger;
}

th {
    text-align: center;
    padding: 2%;
    font-size: xx-large;
}

.valores {
    font-size: x-large;
}

td {
    margin: 10px;
}
.listas {
    text-align: left;
}

.botonesTabla td button {
    font-size: larger;
}

.oferta {
    width: 50%;
    background-image: url(https://www.lavanguardia.com/files/image_948_465/uploads/2019/12/11/5fa5316a6d007.png);
}

.oferta span {
    background-color: rgba(82, 81, 81, 0.377);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
    flex-wrap: wrap;
    text-shadow: 2px 2px 10px rgb(0 0 0);
}

.login {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blueviolet;
    padding: 3%;
    height: auto;
}

.login div {
    width: 100%;
    word-wrap: break-word;
}

.login div span, label {
    color: white;
}

.login .tituloLogin {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.login .titulo2Login {
    font-size: 30px;
}

.login .titulo3Login {
    font-size: 15px;
}

.login form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.login form input[type="email"], .login form input[type="password"] {
    width: 80%;
    max-width: 300px;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 3%;
}

.registro {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.registro .fondo {
    width: 100%;
    height: 100%;
    background-color: rgba(94, 94, 94, 0.397);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 10px rgb(0 0 0);
}

.registroTitulo {
    width: 50%;
    background-image: url(https://hips.hearstapps.com/es.h-cdn.co/fotoes/images/noticias-cine/asi-hubiese-sido-springfield-el-spin-off-de-los-simpson/31368248-1-esl-ES/Asi-hubiese-sido-Springfield-el-spin-off-de-Los-Simpson.png?crop=1xw:0.7962674961119751xh;center,top&resize=980:*);
}

.registroTitulo, .oferta {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
    background-position: center;
}

.registroDatos {
    width: 50%;
    background-color: cornflowerblue;
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

.registroDatos form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.registroDatos form input {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
}

.registroDatos form label {
    margin-top: 2%;
}

.registroDatos form input[type="submit"]{
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

@media screen and (max-width:797px){
    .oferta, .registroTitulo, .podcastTitulo, .login, .registroDatos, .podcast {
        width: 100%;
    }
}

footer {
    width: 100%;
    height: 350px;
    background-color: rgb(255, 136, 0);
    position: absolute;
    left: 0;
}

.fondoFooter {
    width: 100%;
    height: inherit;
    background-color: rgb(68, 68, 68);
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-right: 5%;
    padding-left: 5%;
}

.tituloFooter, .contactanos, .seccionTres .siguenos,  .seccionTres .redesFooter, .contactanos .tituloContact {
    width: 100%;
}   

.seccionUno, .seccionDos, .seccionTres {
    width: 33%;
}

.tituloFooter {
    text-align: left;
    padding: 2%;
}

.seccionDos {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.seccionTres {
    display: flex;
    flex-wrap: wrap;
    padding-left: 3%;
}

.redesFooter ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.redesFooter li {
    margin-right: 2%;
}

.seccionUno li a, .seccionDos li a {
    color: white;
}

.contactanos {
    width: 100%;
    max-width: 700px;
    display: flex;
    padding-left: 5%;
    padding-bottom: 2%;
    padding-top: 0;
    flex-wrap: wrap;
}

.contactanos .telefono, .contactanos .correo {
    width: 50%;;
}

.contactanos .telefono a, .contactanos .correo a {
    font-size: larger;
    color: white;
}

@media screen and (max-width:500px){
    .seccionUno, .seccionDos, .seccionTres, .contactanos .telefono, .contactanos .correo {
        width: 100%;
    }
    footer {
        height: auto;
    }
    .fondoFooter {
        border-top-right-radius: 70px;
        border-bottom-left-radius: 70px;
    }
}

@media screen and (max-width:680px){
    table {
        width: 10px;
        font-size: 10px;
    }
    .tituloPrecios th {
        font-size: larger;
    }
    th {
        font-size: small;
    }
    td {
        font-size: smaller;
    }
    .registro .fondo, .oferta span {
        font-size: 30px;
    }
    .valores {
        font-size: large;
    }
    table ul {
        padding-left: 10%;
    }
}